* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font: poppins;
}

#main {
    height: 18vh;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.04);
    z-index: 3;
}

.logo img {
    height: 70px;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu li a {
    height: 40px;
    line-height: 43px;
    margin: 5px;
    padding: 0px 25px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500%;
    color: grey;
}

.hy {
    color: 39bfbd;
    font-weight: 500%;
    font-size: 0.9em;
    border-bottom: 2px solid rgb(42, 153, 129);
}

.image {
    width: 400px;
    height: 500px;
}

.image img {
    width: 100%;
    top: 200px;
    height: 100%;
    object-fit: contain;
}

.content {
    display: flex;
    top: 100px;
    margin-top: 0px;
    width: 90%;
    height: 92vh;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 1%;
    right: 50%;
    transform: translate(-50% -50%);
}

.main text {
    width: 500px;
}

.main text h1 {
    font-size: 3.5em;
    margin: 0px 0px 10px 0px;
    color: rgb(21, 21, 61);
    line-height: 50px;
}

.main text p {
    color: rgb(36, 40, 100);
    margin: 0 auto;
    letter-spacing: .15em;
}

.resume {
    height: 44px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 10px 200px 100px rgba(24, 17, 17, 0.50);
    z-index: 10;
    background-color: rgb(56, 185, 175);
    border-radius: 20px;
}

.resume:hover {
    background-color: #23cdaf;
    transition: all ease 0.2s;
}

.menu li a:hover {
    background-color: #23cdaf;
    color: white;
    font-size: 105%;
}