    * {
        box-sizing: border-box;
        font-family: "Segoe UI", Arial, sans-serif;
        margin: 0px;
    }
    
    #login-section {
        width: 90vw;
        height: 90vh;
    }
    
    #login-div {
        margin-left: 28%;
        margin-top: 0.5%;
        width: 50vw;
        height: 90vh;
        border-radius: 50ox;
        border: 0.5px solid rgba(0, 0, 0, 0.04);
        box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.04);
    }
    
    #log-sign {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    #log {
        width: 50%;
        height: 150%;
        text-align: center;
        box-shadow: -9px 9px 19px 1px rgba(0, 0, 0, 0.25);
    }
    
    #log h2 {
        margin-top: 5%;
        color: rgb(89, 88, 143);
    }
    
    #sign {
        width: 50%;
        height: 150%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
    }
    
    #sign h2 {
        margin-top: 5%;
        color: rgb(89, 88, 143);
    }
    
    #welcome {
        margin-bottom: 15px;
        margin-top: 10px;
        text-align: center;
    }
    
    form {
        margin-left: 10vw;
    }
    
    #enter-username {
        margin-top: 10%;
        margin-left: 10%;
    }
    
    #username-box>label {
        font-size: 2.1em;
        color: rgb(89, 88, 143);
        height: 18%;
    }
    
    #username-input>input {
        height: 6vh;
        border-radius: 10px;
        width: 25vw;
        text-align: center;
        font-size: 1.4em;
        margin-bottom: 5vh;
    }
    
    #password-box>label {
        font-size: 2.1em;
        color: rgb(89, 88, 143);
        height: 18%;
        margin-top: 5vh;
    }
    
    #password-input>input {
        height: 6vh;
        border-radius: 10px;
        width: 25vw;
        text-align: center;
        font-size: 1.4em;
        margin-bottom: 5vh;
    }
    
    #email-box>label {
        font-size: 2.1em;
        color: rgb(89, 88, 143);
        height: 18%;
    }
    
    #email-input>input {
        height: 6vh;
        border-radius: 10px;
        width: 25vw;
        text-align: center;
        font-size: 1.4em;
        margin-bottom: 5vh;
    }
    
    #submit-button {
        top: 1vh;
        margin-left: 28%;
    }
    
    #submit-button {
        border-radius: 5px;
        width: 50vw;
        text-align: center;
        color: white;
        position: relative;
        font-size: 1.5em;
        background-color: rgb(82, 111, 163);
        box-shadow: -5px 5px 15px 3px rgba(0, 0, 0, 0.25);
        margin-bottom: 5vh;
    }
    
    input {
        border: 0px;
        border-bottom: 2px solid black;
        border-radius: 0px !important;
    }