* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.max-width {
    max-width: 1200px;
}

main {
    width: 100vw;
    max-width: 1200px;
    margin: auto;
}

body {
    /* background-image: url(https://i.imgur.com/Yj15qi8.png); */
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    background-color: #333;
    color: white;
}

nav {
    background-color: #333 !important;
    color: white !important;
}


/* nav bar */

.nav-brand-name {
    font-family: 'Satisfy', cursive;
    font-size: x-large;
    color: white;
}


/* typewriter */

.typer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typer p {
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.typer p span.typed-text {
    font-weight: normal;
    color: #2703f1;
}

.typer p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.typer p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}


/* home */

#home {
    min-height: 60px;
    display: block;
}

.home-div {
    min-height: 400px;
}

#socials {
    margin-bottom: 40px;
}

#socials p {
    align-items: center;
    text-align: center;
}

#socials p a>i {
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37); */
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
}

.icons-social a {
    text-decoration: none !important;
}

#socials p a {
    text-transform: none !important;
}

.icon-space {
    margin: 10px;
    padding: 3.5px;
    text-decoration: none !important;
}

.git {
    height: 40px !important;
    width: 40px !important;
}

.icon-space:hover {
    color: rgb(8, 1, 54);
}

.Hiiii {
    margin-top: 200px;
}

.Hiiii p {
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.full-name {
    margin-top: 10px;
}

.full-name p {
    font-size: 3.5rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}


/* about */

#about {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    min-height: 25vh;
    width: 100%;
    margin-top: 100px;
    display: block;
}

.my-image {
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 50px;
}

.myself {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: 500 !important;
}

.my-image img {
    border-radius: 500px;
    border: 2px solid blue;
    background-color: rgb(206, 206, 206);
}

.about-me {
    padding: 20px;
    margin: auto;
}

.about-me p {
    align-items: center;
    text-align: justify;
    font-size: 1.5rem;
}

.name {
    text-transform: capitalize !important;
    color: blue;
}


/* contact */

#contact {
    display: block;
    align-items: center;
    min-height: 50vh;
    width: auto;
    margin-top: 30px;
    width: 100%;
    padding: 30px;
}

.contact-box {
    margin: auto;
    width: 80%;
    height: 50%;
    background-color: #434445;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 2px 2px 6px rgb(255, 255, 255);
}

.c-heading h1 {
    color: #e7eef3;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.c-heading p {
    color: #cecece;
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.c-inputs {
    width: 80%;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-inputs input {
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(251, 251, 251, 0.1);
    outline: none;
    margin: 5px 0px;
    padding: 10px;
    box-sizing: border-box;
    color: #f4f4f4;
    display: flex;
}

.c-inputs textarea {
    width: 100%;
    height: 200px !important;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(82, 82, 82, 1);
    color: #f4f4f4;
    padding: 10px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.c-inputs button {
    width: 200px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

.c-inputs input:focus {
    border-bottom: 1px solid rgba(252, 252, 252, 1.00);
    transition: all ease 0.5s;
}

.c-inputs textarea:focus {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1.00);
    transition: all ease 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
}

.c-inputs button:active {
    transform: scale(1.02);
}

.map {
    margin: auto;
    filter: grayscale(0.2);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFFFFF;
}

@media(max-width:1100px) {
    .map {
        display: none;
    }
}

@media(max-width:450px) {
    .social {
        display: none;
    }
    .contact-box {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
    }
    #contact {
        position: static;
        transform: translate(0, 0);
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
    }
    .c-heading h1 {
        font-size: 2.2rem;
        text-align: center;
    }
}

.phone p {
    text-align: center;
    font-size: 1.8rem;
}

#mobile {
    color: #82b440;
}

.nolink {
    text-decoration: none;
    color: #82b440;
}

.nolink:hover {
    color: #c2e593 !important;
}


/* education */

#education {
    display: block;
    min-height: 300px;
    width: 100%;
    margin-top: 80px;
}

.edu {
    width: 70%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFFFFF;
}


/* skills */

#skills {
    width: 100%;
}

#skills-div {
    width: 75%;
}

#skills-div h5 {
    margin-top: 20px;
    padding-left: 10px;
}

.skl {
    margin-bottom: 10px;
    height: 14px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFFFFF;
}

.skl1 {
    width: 90%;
    height: 10px;
    background-color: #5C6BC0;
}

.skl2 {
    width: 40%;
    height: 10px;
    background-color: #F44336;
}

.skl3 {
    width: 95%;
    height: 10px;
    background-color: #E65100;
}

.skl4 {
    width: 90%;
    height: 10px;
    background-color: #4DB6AC;
}

.skl5 {
    width: 80%;
    height: 10px;
    background-color: #FFD600;
}

.skl6 {
    width: 80%;
    height: 10px;
    background-color: #82b440;
}

.skl7 {
    width: 90%;
    height: 10px;
    background-color: #80DEEA;
}
.skl8 {
    width: 90%;
    height: 10px;
    background-color: #0a6627;
}


/* projects */

#project-and-blog {
    padding-top: 40px;
    width: 100%;
}

#projects-head {
    height: 60px;
    /* border: 2px solid rgb(255, 255, 255); */
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 6px rgb(255, 255, 255);
}

#projects-head:hover {
    cursor: pointer;
}

#blogs-head {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    /* box-shadow: 2px 2px 6px rgb(255, 255, 255); */
    /* border: 2px solid #FFFFFF; */
}

#blogs-head:hover {
    cursor: pointer;
}

#middle {
    width: 2px;
    height: 60px;
    background-color: #000;
}

.options {
    display: flex;
    flex-direction: row;
    width: auto;
}

#project {
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); */
}

#blog {
    display: none;
    width: 75%;
    margin-top: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    background: rgba( 231, 231, 231, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
}

#blog p {
    font-size: 2rem;
}

#proj1 {
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); */
    border: 2px solid #FFFFFF;
    width: 30%;
    min-width: 350px;
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
}

#proj3 {
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); */
    border: 2px solid #FFFFFF;
    width: 30%;
    min-width: 350px;
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
}

#proj1 img {
    border: 2px solid #e4dcdc;
    width: 100%;
}

#proj3 img {
    border: 2px solid #e4dcdc;
    width: 100%;
}


/* #proj1 {
    width: 300px;
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
} */

#proj1:hover #proj1-about {
    opacity: 1;
}

#proj3:hover #proj3-about {
    opacity: 1;
}

#proj1-about {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #3d4244; */
    background-image: linear-gradient(to top, #3d66b3 0%, #573f75 100%);
}


/* /////////////proj 4 */

#proj4 {
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); */
    border: 2px solid #FFFFFF;
    width: 30%;
    min-width: 350px;
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
}

#proj4 img {
    border: 2px solid #e4dcdc;
    width: 100%;
}

#proj4:hover #proj4-about {
    opacity: 1;
}

#proj4:hover #proj4-about {
    opacity: 1;
}

#proj4-about {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #3d4244; */
    background-image: linear-gradient(to top, #3d66b3 0%, #573f75 100%);
}

#proj4-about a {
    font-size: 1.5rem;
    padding-left: 10px;
    text-decoration: none;
}

#proj4-about p {
    font-size: 2rem;
    padding-left: 10px;
}


/* ////////////proj 4 end */


/* /////////////proj 5 */

#proj5 {
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); */
    border: 2px solid #FFFFFF;
    width: 30%;
    min-width: 350px;
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
}

#proj5 img {
    border: 2px solid #e4dcdc;
    width: 100%;
}

#proj5:hover #proj5-about {
    opacity: 1;
}

#proj5:hover #proj5-about {
    opacity: 1;
}

#proj5-about {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #3d4244; */
    background-image: linear-gradient(to top, #3d66b3 0%, #573f75 100%);
}

#proj5-about a {
    font-size: 1.5rem;
    padding-left: 10px;
    text-decoration: none;
}

#proj5-about p {
    font-size: 1.5rem;
    padding-left: 10px;
}


/* ////////////proj 5 end */



/* /////////////proj 6 */

#proj6 {
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); */
    border: 2px solid #FFFFFF;
    width: 30%;
    min-width: 350px;
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
}

#proj6 img {
    border: 2px solid #e4dcdc;
    width: 100%;
}

#proj6:hover #proj6-about {
    opacity: 1;
}

#proj6:hover #proj6-about {
    opacity: 1;
}

#proj6-about {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #3d4244; */
    background-image: linear-gradient(to top, #3d66b3 0%, #573f75 100%);
}

#proj6-about a {
    font-size: 1.5rem;
    padding-left: 10px;
    text-decoration: none;
}

#proj6-about p {
    font-size: 1.5rem;
    padding-left: 10px;
}


/* ////////////proj 6 end */



/* /////////////proj 7 */

#proj7 {
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); */
    border: 2px solid #FFFFFF;
    width: 30%;
    min-width: 350px;
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
}

#proj7 img {
    border: 2px solid #e4dcdc;
    width: 100%;
}

#proj7:hover #proj7-about {
    opacity: 1;
}

#proj7:hover #proj7-about {
    opacity: 1;
}

#proj7-about {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #3d4244; */
    background-image: linear-gradient(to top, #3d66b3 0%, #573f75 100%);
}

#proj7-about a {
    font-size: 1.5rem;
    padding-left: 10px;
    text-decoration: none;
}

#proj7-about p {
    font-size: 1.5rem;
    padding-left: 10px;
}


/* ////////////proj 7 end */



/* /////////////proj 8 */

#proj8 {
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); */
    border: 2px solid #FFFFFF;
    width: 30%;
    min-width: 350px;
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
}

#proj8 img {
    border: 2px solid #e4dcdc;
    width: 100%;
}

#proj8:hover #proj8-about {
    opacity: 1;
}

#proj8:hover #proj8-about {
    opacity: 1;
}

#proj8-about {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #3d4244; */
    background-image: linear-gradient(to top, #3d66b3 0%, #573f75 100%);
}

#proj8-about a {
    font-size: 1.5rem;
    padding-left: 10px;
    text-decoration: none;
}

#proj8-about p {
    font-size: 1.5rem;
    padding-left: 10px;
}


/* ////////////proj 8 end */



#proj3-about {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #3d4244; */
    background-image: linear-gradient(to top, #3d66b3 0%, #573f75 100%);
}

#proj1-about p {
    font-size: 2rem;
    padding-left: 10px;
}

#proj3-about p {
    font-size: 2rem;
    padding-left: 10px;
}

#proj1-about a {
    font-size: 1.5rem;
    padding-left: 10px;
    text-decoration: none;
}

#proj3-about a {
    font-size: 1.5rem;
    padding-left: 10px;
    text-decoration: none;
}

#proj2 {
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); */
    border: 2px solid #FFFFFF;
    width: 30%;
    min-width: 350px;
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
}

#proj2 img {
    border: 2px solid #e4dcdc;
    width: 100%;
}


/* #proj1 {
    width: 300px;
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
} */

#proj2:hover #proj2-about {
    opacity: 1;
}

#proj2-about {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #3d4244; */
    background-image: linear-gradient(to top, #3d66b3 0%, #573f75 100%);
}

#proj2-about p {
    font-size: 1.7rem;
    padding: 10px;
}

#proj2-about a {
    font-size: 1.5rem;
    padding-left: 10px;
    text-decoration: none;
}

.demo-site {
    text-decoration: none !important;
    color: rgb(165, 214, 167);
}


/* FOOTER */

.footer-basic {
    padding: 40px 0;
    color: white !important;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.header-social {
    text-align: center;
    padding-bottom: 25px;
}

.header-social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .footer-social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .footer-social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .footer-social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

nav {
    background-color: #262626 !important;
    color: white !important;
    text-decoration: none;
}

.menu-white {
    /* color: rgb(0, 0, 0) !important;
    background-color: white !important; */
    box-shadow: 2px 2px 6px rgb(255, 255, 255);
}

.menu-shad {
    /* box-shadow: 2px 2px 6px rgb(255, 255, 255); */
    color: white;
}

.menu-black {
    color: rgb(255, 255, 255) !important;
    /* background-color: rgb(0, 0, 0) !important; */
}


/* /////////////////////////// */


/* mondel */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 300px;
    color: black;
    font-size: 24px;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}