* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.max-width {
    max-width: 1200px;
}


/* nav bar */

.nav-brand-name {
    font-family: 'Satisfy', cursive;
    font-size: x-large;
}


/* typewriter */

.typer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typer p {
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.typer p span.typed-text {
    font-weight: normal;
    color: #2703f1;
}

.typer p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.typer p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}


/* home */

#home {
    min-height: 90vh;
}

.home-div {
    min-height: 400px;
}

#socials p {
    align-items: center;
    text-align: center;
}

.icon-space {
    margin: 10px;
    padding: 3.5px;
    border-radius: 100px;
}

.icon-space:hover {
    box-shadow: -1px -1px 2px 2px rgb(3, 51, 51);
    color: rgb(8, 1, 54);
}

.Hiiii {
    margin-top: 200px;
}

.Hiiii p {
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.full-name {
    margin-top: 10px;
}

.full-name p {
    font-size: 3.5rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}


/* about */

#about {
    background-image: url(https://i.imgur.com/Yj15qi8.png);
    min-height: 80vh;
}

.my-image {
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 50px;
}

.my-image img {
    border-radius: 500px;
    border: 2px solid blue;
}

.about-me {
    width: 55%;
    padding: 30px;
    margin: auto;
}

.about-me p {
    align-items: center;
}
